@model IEnumerable<Net_Gis_Falcon.OperadoresZona>

@{
    ViewData["Title"] = "Create";
}

<h1>Operadores de Zonas</h1>

<p>
    <a asp-action="Create">Asignar</a>
</p>
<table class="table">
    <thead  class="thead-dark">
        <tr>
            <th>Operadores</th>
            <th>Zona</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OperadorNavigation.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZonaNavigation.NombreZona)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

