@model IEnumerable<Net_Gis_Falcon.Estado>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestión de Estados</h1>

<p>
    <a asp-action="Create">Crear nuevo estado</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre del estado</th>
            <th>¿Es final?</th>
            <th>Color</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esfinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorEstado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstado">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstado">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstado">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
