@model Net_Gis_Falcon.HistoricoEstado

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Historico de peticiones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoNavigation.NombreEstado)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperadorNavigation.Apellido)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeticionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeticionNavigation.LocalizacionPeticion)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Estado" />
        <input type="hidden" asp-for="Peticion" />
        <input type="hidden" asp-for="Operador" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
