@model IEnumerable<Net_Gis_Falcon.Nivel>

@{
    ViewData["Title"] = "Index";
}

<h1>Niveles</h1>

<p>
    <a asp-action="Create">Crear un nuevo nivel</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Descripcion pregunta</th>
            <th>Nivel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionPregunta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel1)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPregunta">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPregunta">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPregunta">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
<h1>Árbol de nivel</h1>
@foreach (var item in Model)
{

    @if (item.Nivel1 == 0)
    {
        sacarHijos(item);

    }

}
</table>
@functions{
    void sacarHijos(Nivel item)
    {
        <ul id="myUL">

            <li class="caret">
                @Html.DisplayFor(modelItem => item.DescripcionPregunta)
            </li>
            <li class="caret">
                @Html.DisplayFor(modelItem => item.Respuesta.Count)
            </li>
        </ul>

        }
    }
